


/*TO DO
----- header MUST be responsive. It's size must be more than social icon's size on any devices
----- github icon in footer
----- user field in Word object in models DONE

----- social auth DONE



Built using Twitter Bootstrap, Sinatra, and MongoMapper. Running on Heroku with MongoHQ.
Polyglot, Indeed uses Ideone API © by Sphere Research Labs
© Chris Anderson 2011
*/

#no-words { 
	display: none;
	font-family: 'Brookes';
	font-size: 28px;
	text-align: center;
	margin-top: 5%;
}
#no-words img {				/* grumpy cat image */
}
.flag {
}

.icon-login { width: 47px; height: 44px; display: inline-block;} 	/* sprite - by default showing the left side of the pic */
.icon-login:hover { background-position: bottom; } 					/* on hover - move pic to the right */
.facebook { background: url('../img/facebook-sprite.png'); }				/* 'double-class' for icons' urls */
.twitter { background: url('../img/t-sprite.png'); }
.twitter { background: url('../img/twitter-sprite.png'); }
.google { background: url('../img/google-sprite.png'); }

.text-login {
	position: relative;
	display: inline-block;
	bottom: 14px;
	background-color: black;
}

@font-face {
	font-family: 'Brookes'; 
	src: url('../fonts/BrookeS8.ttf');  
}
.gradient {
    background: linear-gradient(to top, #474949, #808181);
    padding: 10px;
    border: 0px solid #333;
   }
.text-sidebar li {			/*each of sidebar menu elements*/
	line-height: 55px;
}

.resize { 	
	vertical-align: middle;
	height: auto; 
    width: auto; 
    max-width: 45px; 
    max-height: 45px;
    transition: all .2s ease-in-out; 
}

.text-sidebar a {					/* change only those "a"s which are inside div of .text-sidebar class */
	font-family: 'Brookes';
	font-size: 28px;
/*	vertical-align: middle;*/
	text-decoration: none;  		/* hide underline for links */
	/*color: #a4f333;*/
	color: black;
}

.text-sidebar a:hover .words {		/*change only those "a"s which are inside div of .text-sidebar class */
	color: green;
	/*font-size: 32px;*/
}

.text-sidebar a:hover .resize  {		/* resize pics when hovering over text */
	transform: scale(1.1); 
}

.header, .sidebar, .content, .footer {
	box-shadow: 2px 2px 1px #888888;		/* shadow effect for main blocks */
}

.sidebar, .content, .footer {	
	-moz-border-radius: 10px; 
 	-webkit-border-radius: 10px; 
 	border-radius: 5px;
 }

html, body, .wrap
{
	height: 100%; /* we need height to be 100% on html, body, and .wrap, so that wrap's children (sidebar, content) could reach the bottom */
	margin: 0;
	font-family: Verdana, Geneva, sans-serif;
	/*font-weight: 600;*/
	font-size: 18px;
	position: relative;
}
.wrap {
	/*background-color: #E4E7E8;*/
	/*background-image: url('../img/metallic.jpeg'); */
	/*background-image: url('../img/metal2.png');*/
	/*background-image: url('../img/metal3.jpg');*/
	background-image: url('../img/metal4.jpg');
	/*background-image: url('../img/fon.jpg');*/
}

.header {
/*			position: fixed;*/
	height: 8%;
	min-height: 50px;
	width: 100%;
	float: left;
	/*background: linear-gradient(to top, #474949, #666767);*/
background-image: url('../img/fon2.png');
	margin-bottom: 1%;
}
.header-left {
	width: 20%;
	/*background-color: #6f6868;*/
	height: 100%;
	float: left;
}
.header-left p {			/* Be a polyglote - text*/
	bottom: 10px;
}
.header-left, .sidebar {
	/*background-color: #FAFAFA;*/
/*	border-right: 1px solid black;*/
	/*#45413c;*/
}
.header-right, .content {
/*	margin-left: -1px;*/
}
.header-right {
	width: 80%;
	/*background-color: #f2f1f4;*/
	/*background-color: #ececec;*/
	float: left;
	height: 100%;
}

.header p {
	font-family: Brookes;
	font-size: 20px;
	text-align: right;
	cursor: pointer;
	color: white;
}
.login-section {
	font-family: Brookes;
	font-size: 20px;
	position: relative;
	top: 15%;
	width: 85%;
	text-align: right;
	cursor: default;		/* to avoid changing cursor while hovering over text 'Log in using'*/
	color: white;
	/*background-color: black;*/
	float: left;
}

.flag-section {
	/*background-color: yellow;*/
	float: right;
	right: 2%;
	position: relative;
	top: 24%;
}

.flag-section img {
	max-width: 30px;
	max-height: 30px;
	cursor: pointer;
	float: right;
	margin-right: 10px; 
}
.black-and-white {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.header a {
	text-decoration: none;
	color: white;
}
.red-text {
	color: yellow;
} 


/* END OF HEADER */


.sidebar {
	float: left;
	width: 20%;
	/*border: 0px solid #000;*/
	height: 50%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: white;
}
.content {
	float: left;
	width: 65%;
	background-color: white;
	/*background-color: #ececec;*/
	height: 76%;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}
.footer {
	font-size: 11px;
	/*text-align: center;*/
	/*margin-left: 45%;*/
	height: 6%;
	float: left;
	width: 65%;
	background-color: white;
	margin-left: 23%;
	margin-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	text-align: center;
}
.footer p {						/* text in footer section */
	vertical-align: middle;
}


/* START!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START
START!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!
START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!START!!!!!!!!!!!!!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!CONTINUE!!!!!!!!!!!!! BUT CAN STOP!!!!!!!!
*/

.text-content {
	float: left;
	margin-left: 5%;
	width: 95%;		/* needed so that its child divs take all the space to the left */


	
/*---------------------------------------------*/
	height: 90%;	
	overflow: auto; 
/*---------------------------------------------*/



}
.test-area {
	float: left;
	margin-left: 15%;
	margin-top: 5%;
}
.fi-text-content {
	float: left;
	width: 35%;
}
.en-text-content {
	float: left;
	width: 64%;
}
.tools-text-content {
	float: left;
	width: 1%;
}
ul {
	list-style-type: none; /* remove bullets in all the lists */
}

.each-word {
	/*display: inline;*/
	overflow: auto;
}
.text-content {
	
/*-----------------------------------------------------------*/
	/*background-color: #FAFAFA;*/
/*-----------------------------------------------------------*/
	/*cursor: pointer;*/
}

.accordion {
	/*border: 1px solid lightgrey;*/
	padding: 0 10px;
	margin: 0 auto;
	list-style: none outside;
}

.accordion > * + * { border-top: 1px solid lightgrey; }

.accordion-item-hd {
	padding: 2% 3.5% 5% 0; /*15px 30px 30px 0 */
	position: relative;
	cursor: pointer;
	font-size: 18px;
}
.arrowUp {
    transform: rotate(-180deg);
    transition: 0.5s;
    position: absolute;
}
.arrowDown {
    transform: rotate(0deg);
    transition: 0.5s;
    position: absolute;
}
.accordion-item-bd {
  margin-bottom: 3%; /*fffff---------------------------------------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*background-color: #FAFAFA;*/
}

.add-example-field, .add-example-button, .accordion-item-bd {
    display: none;
}
.add-example-field {
    width: 0px;
}

/*hr {
	opacity: 0.2;
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
}*/


	table.wordlist {
        display: table;
        width: 100%;
    }
    table.wordlist thead, table.wordlist tbody {
        float: left;
        width: 100%;
    }
    table.wordlist tbody {
        overflow: auto;
        height: 150px;
    }
    table.wordlist tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.wordlist th, table.wordlist td {
        width: 33%;
    }

    .nappi {
	text-decoration:none; text-align:center; 
	 padding: 11px 11px; 
	 border: none;
	 outline: none;
	 cursor: pointer;
	 /*width: 35%;*/		/* !! fin-choices field size is equal */
	 display: inline-block;	/* !! fin-choices field size is different */
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px; 
	 border-radius: 10px; 
	 font:19px Comic Sans MS; /*Georgia, "Times New Roman", Times, serif; */
	 color: white; 
	 background-color: #7a65e0; 
	 background-image: -moz-linear-gradient(top, #7a65e0 0%, #35454a 100%); 
	 background-image: -webkit-linear-gradient(top, #7a65e0 0%, #35454a 100%); 
	 background-image: -o-linear-gradient(top, #7a65e0 0%, #35454a 100%); 
	 background-image: -ms-linear-gradient(top, #7a65e0 0% ,#35454a 100%); 
	 letter-spacing: 3px;
	 background-image: linear-gradient(top, #7a65e0 0% ,#35454a 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;   
  }
 .nappi:hover {
	 background-color: #4cc4a2; 
	 background-image: -moz-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -webkit-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -o-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -ms-linear-gradient(top, #4cc4a2 0% ,#24420f 100%); 
	 background-image: linear-gradient(top, #4cc4a2 0% ,#24420f 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;  
 }

 .button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	/*border:3px solid #dcdcdc;*/
	outline: none;
	display:inline-block;
	color:#777777;
	font-family:Comic Sans MS;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:45px;
	line-height:45px;
	text-decoration:none;
	text-align:center;
	vertical-align: center;
	text-shadow:1px 1px 1px #ffffff;
}
.button2:hover {
   background: #4d237d;
   color: white;
   
   }
.button2:active {
	position:relative;
	top:1px;
}
.joo{
	background: #0c400f;
	background: -webkit-gradient(linear, left top, left bottom, from(#33eb17), to(#0c400f));
	background: -webkit-linear-gradient(top, #33eb17, #0c400f);
	background: -moz-linear-gradient(top, #33eb17, #0c400f);
	background: -ms-linear-gradient(top, #33eb17, #0c400f);
	background: -o-linear-gradient(top, #33eb17, #0c400f);
	padding: 12px 18px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: white;
	font-size: 24px;
	font-family: Comic Sans MS;
	font-weight:bold;
}
  
.ei{
	background: #b01106;
	background: -webkit-gradient(linear, left top, left bottom, from(#f20944), to(#b01106));
	background: -webkit-linear-gradient(top, #f20944, #b01106);
	background: -moz-linear-gradient(top, #f20944, #b01106);
	background: -ms-linear-gradient(top, #f20944, #b01106);
	background: -o-linear-gradient(top, #f20944, #b01106);
	padding: 12px 24px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: white;
	font-size: 24px;
	font-family: Comic Sans MS;
	font-weight:bold;
	text-decoration: none;
	vertical-align: middle;
}

/* input form */

.form-style-7 {
    width: 80%;
    /*margin:50px auto;*/
    /*background: #ffa;*/
    border-radius:2px;
    padding: 40px 55px;
    /*padding-left: 50px;*/
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 li {
    display: inline-block;
    padding: 9px;
    border:1px solid #A4A4A4;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 40%;
}

.form-style-7 label {
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 4px;
    color: #170B3B;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input, .form-style-7 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    /*height: 25px;*/
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
}

.form-style-7 span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
#middle {
	margin-left: 20%;	/* special id for 'Choose word's type' select-form */
}

.add-button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Brookes';
  font-weight: 600;
  color: #000;
  font-size: 18px;
  background: #c4c9cc;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-align: left;
  margin-left: 25%;
  border: 0;			/* remove 3d effect */
}
.add-button:hover {
  background: #088A08;
  text-decoration: none;
}
