/*TO DO
----- header MUST be responsive. It's size must be more than social icon's size on any devices
----- github icon in footer
----- user field in Word object in models DONE

----- social auth DONE
------ Main words menu - decorate somehow

------ TEST - improve design
			- test using common/own words   DONE
			- FADE effects, or FLIP?		DONE

-----SETTINGS: 	1. Don't add my words to common vocabulary 	DONE
				2. Test design - animation 1, animation 2, no animation - classic anim., comic anim., no anim. DONE
				3. Fonts, letter size and backgrounds
				4. Memorize my test statistics
------ user statistics - model User

........ FORM - stay on the page after adding word!! предусмотреть в форме проверку данных

--------- background - accordeon-bd

--------- AJAX in main word menu. Pop up window at bottom - AJAX in insert_form

--------- DEFAULT SETTINGS - checked radiobuttons in settings-section DONE

Built using Twitter Bootstrap, Sinatra, and MongoMapper. Running on Heroku with MongoHQ.
Polyglot, Indeed uses Ideone API © by Sphere Research Labs
© Alexandru Oat 2016
*/

@charset "utf-8";

.about-text { margin: 20px 20px 20px; line-height: 1.5}
.info { background: lightgrey; width: 250px; position: absolute; left: 1%; bottom: 0; display: none;}

.image {margin-left:50px;opacity: 0.7; }

.settings-form {
	height: 92%;
	width: 92%;
	margin: auto;
	margin-top: 3%;
}
.settings-form button {
	float: left;
	margin: 0;
	margin-left: 50px;
	margin-top: 20px;
}
#set1 {
	/*background-color: grey;*/
	float: left;
	width: 45%;
	margin-bottom: 3%;
}
#set2 {
	/*background-color: grey;*/
	float: right;
	width: 50%;
	margin-bottom: 3%;
}

#set3 {
	/*background-color: red;*/
	float: left;
	width: 45%;
}

#set4 {
	/*background-color: yellow;*/
	float: right;
	width: 50%;
}

.radio-div {
	clear: both;
	/*margin: 0 0px;*/
}

.radio-div label {
  width: 270px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
	margin-left: -9999px;
	/*display: none;*/
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.0em;
	text-indent: 3.0em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	/*border-radius: 3px 0 0 3px;*/
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';				/* check character*/
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';				/* check character*/
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

input.radio:checked ~ label {
	color: #777;
}



#hooray {
	/*background-color: black;*/
	height: 200px;
	width: 250px;
	position: absolute;
	float: right;
	bottom: 40%;
	right: 12%;
	text-align: justify;
}

#hooray img {
	display: block;
    margin: 0 auto;
}

.form-area {
	margin-left: 5%;
}

.result {
    width: 70px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: 50%;
    visibility: hidden;
}
.card {
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa-Regular';
	font-size: 20px;
    /*position: absolute;*/
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 50px;
    text-align: center;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: white;
	font-size: 24px;
	/*font-family: Comic Sans MS;*/
	font-weight: bold;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card .yes {
  background: #0c400f;
	background: -webkit-gradient(linear, left top, left bottom, from(#33eb17), to(#0c400f));
	background: -webkit-linear-gradient(top, #33eb17, #0c400f);
	background: -moz-linear-gradient(top, #33eb17, #0c400f);
	background: -ms-linear-gradient(top, #33eb17, #0c400f);
	background: -o-linear-gradient(top, #33eb17, #0c400f);
}
.card .no {
    background: #b01106;
    	background: -webkit-gradient(linear, left top, left bottom, from(#f20944), to(#b01106));
	background: -webkit-linear-gradient(top, #f20944, #b01106);
	background: -moz-linear-gradient(top, #f20944, #b01106);
	background: -ms-linear-gradient(top, #f20944, #b01106);
	background: -o-linear-gradient(top, #f20944, #b01106);

    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

* {		/*make sure that the padding and border are included in the total width and height of the elements */
    box-sizing: border-box;
}
#no-words { 
	display: none;
	font-family: 'Comfortaa-Regular';
	font-size: 28px;
	text-align: center;
	margin-top: 5%;
}
#no-words img {				/* grumpy cat image */
}
.flag {
}

.icon-login { 												/* sprite method - showing the lower side of the pic */
	background-position: bottom !important; 				/* override child's background-position */
	width: 47px; 
	height: 43px; 
	display: inline-block;
} 	
.icon-login:hover { background-position: top !important; }				/* on hover - move pic up */
.facebook { background: url('../img/facebook-sprite.png');}				/* 'double-class' for icons' urls */
.twitter { background: url('../img/twitter-sprite.png');}
.google { background: url('../img/google-sprite.png');}

@font-face {
	font-family: 'Comfortaa-Regular'; 
	src: url('../fonts/Comfortaa-Regular.ttf'); 
	/*src: url('../fonts/BrookeS8.ttf');  */
	/*src: url('../fonts/Leoscar Serif.ttf');  */
	/*src: url('../fonts/Essai.ttf');   */
	/*src: url('../fonts/Bless.otf');  */
}
@font-face {
	font-family: 'Sunshine'; 
	src: url('../fonts/Mf Sippin On Sunshine.ttf');  
}
@font-face {
	font-family: 'Comfortaa-Light'; 
	src: url('../fonts/Comfortaa-Light.ttf');  
}
.gradient {
    background: linear-gradient(to top, white, grey);
    	/*#474949, #808181);*/
    /*padding: 10px;*/
    /*border: 0px solid #333;*/
   }
.text-sidebar li {			/*each of sidebar menu elements*/
	line-height: 50px;
}

.resize { 	
	vertical-align: middle;
	height: auto; 
    width: auto; 
    max-width: 40px; 
    max-height: 40px;
    transition: all .2s ease-in-out; 
}
.smile { 	
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
    margin-top: 10px;
}

.text-sidebar a {					/* change only those "a"s which are inside div of .text-sidebar class */
	font-family: 'Comfortaa-Regular';
	font-size: 20px;
/*	vertical-align: middle;*/
	text-decoration: none;  		/* hide underline for links */
	/*color: #a4f333;*/
	color: black;
}

.text-sidebar a:hover .words {		/* change only those "a"s which are inside div of .text-sidebar class */
	color: green;
	/*font-size: 32px;*/
}

.text-sidebar a:hover .resize  {		/* resize pics when hovering over text */
	transform: scale(1.1); 
}

.header, .sidebar, .content, .footer {
	box-shadow: 2px 2px 1px #555555;		/* shadow effect for main blocks; #888888 - lighter variant */
}

.sidebar, .content, .footer {				/* rounded corners */
	-moz-border-radius: 5px; 
 	-webkit-border-radius: 5px; 
 	border-radius: 5px;
 	background-color: white;
 	border: 1px solid lightgrey;
 }

html, body, .wrap
{
	height: 100%; /* we need height to be 100% on html, body, and .wrap, so that wrap's children (sidebar, content) could reach the bottom */
	margin: 0;
	/*font-family: Verdana, Geneva, sans-serif;*/
	/*font-weight: 600;*/
	font-size: 18px;
	position: relative;
	font-family: Comfortaa-Light;
}
.wrap {
	/*background-color: #E4E7E8;*/
	/*background-image: url('../img/metallic.jpeg'); */
	/*background-image: url('../img/metal2.png');*/
	/*background-image: url('../img/metal3.jpg');*/
	background-image: url('../img/metal4.jpg');
	/*background-image: url('../img/fon.jpg');*/
}

.header {
/*			position: fixed;*/
	height: 52px;
	width: 100%;
	/*background: linear-gradient(to top, #474949, #666767);*/
	background-image: url('../img/fon2.png');
	/*margin-bottom: 1%;*/										/*NOT SURE!!!!! COMMENTED 15.03 AT 20.15!!!!*/
}
.header-left {
	width: 32%;
	/*background-color: #6f6868;*/
	height: 100%;
	float: left;
	letter-spacing: 7px;
	font-family: Comfortaa-Regular;
	font-size: 18px;
	text-align: right;
	cursor: pointer;
	color: white;
	display: inline-block;
}

.header-left p {							/* Be a polyglote - text*/

}
.header-left-1 {
	height: 100%;
	width: 15%;
	/*background-color: white;*/
	float: left;
	margin-left: 3%;
}
.header-left-2 {
	height: 100%;
	width: 79%;	
	text-align: left;
	/*background-color: grey;*/
		float: left;
		margin-left: 3%
}
.header-right {
	width: 68%;
	float: left;
	height: 100%;
}

.login-section {
	font-family: Comfortaa-Light;
	font-size: 16px;
	position: relative;
	top: 10%;
	width: 85%;
	text-align: right;
	cursor: default;		/* to avoid changing cursor while hovering over text 'Log in using'*/
	color: white;
	float: left;
}
.text-login {
	position: relative;
	display: inline-block;
	bottom: 14px;
}
.text-logged-in {
	position: relative;
	display: inline-block;
	top: 14px;
}

.flag-section {
	float: right;
	right: 2%;
	position: relative;
	top: 23%;
}

.flag-section img {
	max-width: 30px;
	max-height: 30px;
	cursor: pointer;
	float: right;
	margin-right: 10px; 
}
.black-and-white {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.header a {
	text-decoration: none;
	color: white;			/* needed this specially for link text "Log out". Otherwise it is blue */
}
.red-text {
	color: yellow;
} 


/* END OF HEADER */


.sidebar {
	position: absolute;
	left: 1%;
	top: 11%;
	/*float: left;*/
	/*width: 20%;*/
	/*height: 50%;*/
	width: 250px;
	height: 320px;
	/*margin-left: 1%;*/
	/*margin-top: 2%;*/
	/*margin-bottom: 1%;*/
}

/*.main {
	background-color: lightgrey;
	height: 90%;
	
}*/
.content {
	width: 65%;
	height: 78%;
	/*bottom: 13%;*/
	top: 11%;
	 ::-webkit-scrollbar {
        width: 0;
    }
}
.footer {
	font-size: 12px;
	/*text-align: center;*/
	height: 5%;
	width: 65%;
	/*margin-bottom: 1%;*/
	text-align: center;
	bottom: 2%;
}
.content, .footer {
	position: absolute;
	left: 300px;
}
.footer p {						/* text in footer section */
	/*vertical-align: middle;*/
}


.text-content {
	float: left;
	margin-left: 5%;
	width: 95%;		/* needed so that its child divs take all the space to the left */

	
/*---------------------------------------------*/
	height: 90%;	
	overflow: auto; 
/*---------------------------------------------*/


}
.test-area {
	float: left;
	margin-left: 15%;
	margin-top: 10%;
}
.fi-text-content {
	float: left;
	width: 35%;
}
.en-text-content {
	float: left;
	width: 64%;
}
.tools-text-content {
	float: left;
	width: 1%;
}
ul {
	list-style-type: none; /* remove bullets in all the lists */
}

.each-word {
	/*display: inline;*/
	overflow: auto;
}
.text-content {
	
/*-----------------------------------------------------------*/
	/*background-color: #FAFAFA;*/
/*-----------------------------------------------------------*/
	/*cursor: pointer;*/
}

.accordion {
	/*border: 1px solid lightgrey;*/
	padding: 0 10px;
	margin: 0 auto;
	list-style: none outside;
}

.accordion > * + * { 
border-top: 1px solid #d2d2d2;
	/*border-top: 1px solid #999999;*/ }

.accordion-item-hd {
	/*padding: 2% 3.5% 5% 0; */
	/*padding: 1.5% 2% 4% 0; */
	padding: 2% 3% 4% 0;
	/*15px 30px 30px 0 */
	position: relative;
	cursor: pointer;
	font-size: 18px;
	/*background-color: grey;*/
}
.arrowUp {
    transform: rotate(-180deg);
    transition: 0.5s;
    position: absolute;
}
.arrowDown {
    transform: rotate(0deg);
    transition: 0.5s;
    position: absolute;
}
.accordion-item-bd {
  margin-bottom: 3%; /*fffff---------------------------------------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  /*background-color: #FAFAFA;*/
}

.add-example-field, .add-example-button, .accordion-item-bd {
    display: none;
}
.add-example-field {
    width: 0px;
}

/*hr {
	opacity: 0.2;
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
}*/


	table.wordlist {
        display: table;
        width: 100%;
    }
    table.wordlist thead, table.wordlist tbody {
        float: left;
        width: 100%;
    }
    table.wordlist tbody {
        overflow: auto;
        height: 150px;
    }
    table.wordlist tr {
        width: 100%;
        display: table;
        text-align: left;
    }
    table.wordlist th, table.wordlist td {
        width: 33%;
    }

    .nappi {
	text-decoration:none; text-align:center; 
	 padding: 11px 11px; 
	 border: none;
	 outline: none;
	 cursor: pointer;
	 /*width: 35%;*/		/* !! fin-choices field size is equal */
	 display: inline-block;	/* !! fin-choices field size is different */
	 -webkit-border-radius: 10px;
	 -moz-border-radius: 10px; 
	 border-radius: 10px; 
	 /*font:19px Comic Sans MS;*/ /*Georgia, "Times New Roman", Times, serif; */
	 color: white; 
	 /*background-color: #7a65e0; */
	 background-image: -moz-linear-gradient(top, #7a65e0 0%, #35454a 100%); 
	 background-image: -webkit-linear-gradient(top, #A4A4A4 0%, grey 100%); 
	 background-image: -o-linear-gradient(top, #7a65e0 0%, #35454a 100%); 
	 background-image: -ms-linear-gradient(top, #7a65e0 0% ,#35454a 100%); 
	 letter-spacing: 3px;
	 background-image: linear-gradient(top, #7a65e0 0% ,#35454a 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;   
  }
 .nappi:hover {
	 color: black; 
/*	 background-image: -moz-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -webkit-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -o-linear-gradient(top, #4cc4a2 0%, #24420f 100%); 
	 background-image: -ms-linear-gradient(top, #4cc4a2 0% ,#24420f 100%); 
	 background-image: linear-gradient(top, #4cc4a2 0% ,#24420f 100%);   
	 -webkit-box-shadow:0px 0px 2px #bababa;  -moz-box-shadow: 0px 0px 2px #bababa;  box-shadow:0px 0px 2px #bababa;  
*/ }

 .button2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	/*border:3px solid #dcdcdc;*/
	outline: none;
	display:inline-block;
	color:#777777;
	font-family:Comic Sans MS;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:45px;
	line-height:45px;
	text-decoration:none;
	text-align:center;
	vertical-align: center;
	text-shadow:1px 1px 1px #ffffff;
}
.button2:hover {
   color: #4d237d;;
   }
.button2:active {
	position:relative;
	top: 1px;
}
/*.joo{
	background: #0c400f;
	background: -webkit-gradient(linear, left top, left bottom, from(#33eb17), to(#0c400f));
	background: -webkit-linear-gradient(top, #33eb17, #0c400f);
	background: -moz-linear-gradient(top, #33eb17, #0c400f);
	background: -ms-linear-gradient(top, #33eb17, #0c400f);
	background: -o-linear-gradient(top, #33eb17, #0c400f);
	padding: 12px 18px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: white;
	font-size: 24px;
	font-family: Comic Sans MS;
	font-weight: bold;
	width: 70px;
}
  
.ei{
	background: #b01106;
	background: -webkit-gradient(linear, left top, left bottom, from(#f20944), to(#b01106));
	background: -webkit-linear-gradient(top, #f20944, #b01106);
	background: -moz-linear-gradient(top, #f20944, #b01106);
	background: -ms-linear-gradient(top, #f20944, #b01106);
	background: -o-linear-gradient(top, #f20944, #b01106);
	padding: 12px 24px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	color: white;
	font-size: 24px;
	font-family: Comic Sans MS;
	font-weight: bold;
	text-decoration: none;
	width: 70px;
}*/

/* input form */

.form-style-7 {
    width: 80%;
    /*margin:50px auto;*/
    /*background: #ffa;*/
    border-radius:2px;
    padding: 40px 55px;
    /*padding-left: 50px;*/
    font-family: Comfortaa-Light;
}
.form-style-7 li {
    display: inline-block;
    padding: 9px;
    border:1px solid #A4A4A4;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 40%;
}

.form-style-7 label {
    float: left;
    margin-top: -18px;
    background: #FFFFFF;
    height: 19px;
    padding: 2px 5px 2px 4px;
    color: #170B3B;
    font-size: 14px;
    overflow: hidden;
    font-family: Comfortaa-Light;
}
.form-style-7 input, .form-style-7 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    /*height: 25px;*/
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    text-align: center;
}

.form-style-7 span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-size: 11px;
}
#middle {
	margin-left: 25%;	/* special id for 'Choose word's type' select-form */
}
#left {
	margin-left: 5%;
}

.add-button {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Comfortaa-Light;
  font-weight: 600;
  color: #000;
  font-size: 18px;
  background: #c4c9cc;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-align: left;
  margin-left: 20%;
  border: 0;			/* remove 3d effect */
}
.add-button:hover {
  background: #088A08;
  text-decoration: none;

}.add-button:active {
  transform: rotateY(180deg);

transition: all 1s ease-in-out;   
}