{% extends 'sanat/base.html' %}
{% block about %}
		<div class="content">
			<div class="text-content">
				<div class="about-text">Hi! My name is Alexandru, I'm the author of this app. It's aimed to help you storing and memorizing new words and expressions. Surely, you're studying some language, aren't you? IMO, everyone today is learning something. And this site may happen to be an additional tool for you in such a process.<br /><br />
				Although it's not finished yet, please feel free to use it. So far it's possible to log in using <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Google</a>, <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"> Twitter</a> or <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">FB</a>. After logging in you'll have an opportunity to collect your own 'sanasto' and to test your knowledge once in a while. BTW, now you can add words and take a test anonymously as well, without logging in. 
				<br /><br />
				Hopefully, the full-workable version will be ready by mid-April. Please, check the code on <a href="https://github.com/midnitehighways/lang-memorize">Github</a>. If you have any questions or suggestions, please mail me at oat.alexandru at gmail.com<br /><br />
				Be a polyglote! Learn one more language:) And have a nice wwwordy day! </div>
<!-- 				<table class="wordlist">
    <thead>
        <tr>
            <th><span class="text">fi</span>

            </th>
            <th><span class="text">en</span>

            </th>
            <th><span class="text">tyypi</span>

            </th>
        </tr>
    </thead>
    <tbody>
        {% for word in words_list %}
        <tr>
            <td>{{ word.fi }}</td>
            <td>{{ word.en }}</td>
            <td>{{ word.tyypi }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 -->			</div>
		</div>
{% endblock about %}