<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site_title }}{% endblock title %}</title> 
	<link href="{% static "css/main.css" %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
</head>
<body>
	<div class="wrap">
							<!--				 Header 			-->
		<div class="header">
			<div class="header-left">
				<p>B e &nbsp; a &nbsp; <span class="red-text">P o l y g l o t</span> </p>
			</div>
			<div class="header-right">
 				{% if user and not user.is_anonymous %}
					<p>{% trans "Hello" %}, {{ user.get_full_name }}! &nbsp; <a href="{% url 'logout' %}">Log out</a></p>
 				{% else %}
  					<div class="login-section">
	  					<div class="text-login">Log in using&nbsp;</div>
	  					<a class='icon-login google' href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"></a>
	  					<a class='icon-login twitter' href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"> </a>
	  					<a class='icon-login facebook' href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> </a>
	  					<!-- <a class='icon-login facebook' href="{% url 'index' %}">{{LANGUAGE_CODE}} </a> -->
<!-- 	  					<form action="{% url 'setlang' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value={{ request.get_full_path|slice:'3:' }} />
        <select name="language"> 
          {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Switch Language"/>
      </form>
 -->  					</div>
				{% endif %}
			</div>
		</div>
							<!--				 Sidebar 			-->
		<div class="sidebar">
			<div class="text-sidebar">
				<ul>
					<li ><a href="{% url 'index' %}" > <img class="resize" src="{% static "img/dict_ico.png" %}" />
					<span class="words"> Show words  </span></a></li>

					<li ><a href="{% url 'insert_form' %}" ><img class="resize" src="{% static "img/pen4.png" %}" />
					<span class="words"> Add new </span> </a></li>

					<li ><a href="{% url 'take_a_test' %}" ><img class="resize" src="{% static "img/test6.png" %}" />
					<span class="words"> Take a test </span></a></li>

					{% if user.is_anonymous %}
						<li ><a href="{% url 'login' %}" ><img class="resize" src="{% static "img/signup1.png" %}" />
						<span class="words"> Log in </span></a></li>
					{% endif %}

					<li ><a href="{% url 'about' %}"><img class="resize" src="{% static "img/about1.png" %}" />
					<span class="words"> About </span></a></li>
				</ul>
			</div>
		</div>
							<!--				 Content 			-->
		{% block content %}{% endblock content %}
		{% block insert_form %} {% endblock insert_form %}
		{% block test %} {% endblock test %}
		{% block about %} {% endblock about %}	
							<!--				 Footer 			-->
		<div class="footer"> 
			<p>&#169; 2016 <a href="https://www.facebook.com/oat.alexander>">Alexandru Oat</a> | <a href="https://github.com/midnitehighways/lang-memorize">Github</a> | alexandru.oat@gmail.com  </p></div>
		</div>	
</body>
</html>