<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{{ site_title }}{% endblock title %}</title> 
	<link href="{% static "css/main.css" %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="header-left">
				<!-- <h1>Puhun suomea</h1> -->
			</div>
			<div class="header-right">
				<h1></h1>
			</div>
		</div>
		<div class="sidebar">
			<div class="text-sidebar">
				<ul>
					<li><a href="{% url 'index' %}" > <img class="resize" src="{% static "img/dict_ico.png" %}" /><!-- &#9749;&nbsp;Show words --></a></li>
					<!-- <br /><br /> --><br />
					<li><a href="{% url 'insert_form' %}" ><img class="resize" src="{% static "img/pen4.png" %}" /><!-- &#10000;&nbsp; Add words --> </a></li>
					<!-- <br /><br /> --><br />
					<li><a href="{% url 'take_a_test' %}" ><img class="resize" src="{% static "img/test6.png" %}" /><!-- &#9997;&nbsp; Take a test --></a></li>
					<br />
					<li><a href="#">&#9731;&nbsp; Sign up</a></li>
					<!-- <br /><br /> --><br />
					<li><a href="{% url 'about' %}">&#9743;&nbsp; About</a></li>
				</ul>
			</div>
		</div>
		{% block content %}{% endblock content %}
		{% block insert_form %} {% endblock insert_form %}
		{% block test %} {% endblock test %}
		{% block about %} {% endblock about %}
	</div>	
	<script src="{% static "js/main.js" %}"></script>
</body>
</html>