{% extends 'sanat/base.html' %}
{% block content %}
		<div class="content">
			<div class="text-content">
				{% for word in words_list %}
					<div class="each-word">
						<p class="fi-text-content">{{ word.fi }}</p>
						
						<p class="en-text-content">
							{{ word.en }}
							{% comment %}
							{% for example in examples_list %}
								{% if example.word == word %}
									{{ example.fi }} {{ example.en }}
								{% endif %}
							{% endfor %}
							{% endcomment %}
						</p>
					</div>
				{% endfor %} 
			</div>
		</div>
{% endblock content %}