{% extends 'sanat/base.html' %}
{% block title %} Insert words into DB {% endblock title %}  <!-- it's possible to change title and this way -->
{% block insert_form %} 

<div class="content">
	<div class="text-content">
		<!-- <a href="{% url 'index' %}" >click to go back</a> -->
			<form method="POST">{% csrf_token %}
		       	<input type="text" name="fi" id="fi" autofocus>fi</input><br />
		       	<input type="text" name="en" id="en">en</input><br />
		    	<select name="tyyppi" id="tyyppi" size="6">
			  		<option value="V">Verb</option>
					<option value="S">Noun</option>
					<option value="A">Adjective</option>
					<option value="D">Adverb</option>
					<option value="M">Other</option>
					<option value="E" selected="selected">Nothing</option>
				</select>
		    	<button type="submit">Save</button>
		    </form>
			
			<script>
				function koe(vastaus)
        		{
					document.getElementById('yritys_en').style.display = "none";

					 $("#yritys_en").show("600");
		             $("#suomea").show("800");		    
	        	}
            </script>

		<input style = "margin-top: 110px;" type = "button"; class = "button2"; id = "yritys_en" /></br>
        <span id="tulos" style="bottom: -100px; position: relative; margin-left: 160px;"> </span>
        <div id="suomea" style="margin-left: 330px; margin-top: -170px">
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_1" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_2" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_3" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_4" /></br>
        </div>


	</div>
</div>
{% endblock insert_form %}