<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% load my_tags %}
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<title>{% block title %}{{ site_title }}{% endblock title %}</title> 
	<!--	CSS 	-->
	<link rel="stylesheet" href="{% static "css/main.css" %}">
	<link rel="stylesheet" media="all" href="{% static "css/style.css" %}">
	<!--	JS 		-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{% static "js/main.js" %}"></script>
	<script type="text/javascript"> var testType = "{{request.session.test}}"; var userID = "{{user.id}}"; 
	var testScope = "{{request.session.test_scope}}"; var showInCommon = "{{request.session.show}}"</script>
	<script>  // -------------------- google analytics -------------------------------
	  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');	ga('create', 'UA-76253113-1', 'auto'); ga('send', 'pageview');
	  	console.log($(".lowest").parent());
	</script>
</head>
<body>
<div class="container">
	
	<div class="menu-start"> 		<!-- ******** HEAD BAR MENU ********** -->
		<div class="cool"><a class="icon-cool" href="{% url 'index' %}"></a></div>
		
		<div class="icons-left-start">
			<a class="icon-pencil2 moon" href="{% url 'insert_form' %}"></a>
			<a class="icon-list2 moon" href="{% url 'take_a_test' %}"></a>
			<a class="icon-cogs moon" href="{% url 'settings' %}"></a>
		</div>
		
		<div class="icons-right-start">
 				
 			{% if user and not user.is_anonymous %}
				<div class="text-logged-in-start">
					{% trans "Hello" %}, <a href="{% url 'settings' %}"><span class="bold-name">{{ user.get_full_name }}</span></a>!
					<a href="{% url 'index' %}"><span class="yellow-text">{% get_words_number request %} 
					{% trans "words in vocabulary" %}</span></a>&nbsp; <a href="{% url 'logout' %}?next={{request.path}}">{% trans "Log out" %}</a>
				</div>
 				
 			{% else %}
	  			<div class="text-login-start">{% trans "Log in using" %} </div>
	  			<a class="icon-google moon" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"></a>
	  			<a class="icon-twitter moon" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"> </a>
	  			<a class="icon-facebook moon" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> </a>
			{% endif %}

				<div class="language-section-start">
					<a href="#" onclick="submitLangForm('en');">EN</a><a href="#" onclick="submitLangForm('fi');">FI</a>
				</div>	
		
		</div>
		<a class="icon-github moon social-icons-right-start" href="https://github.com/midnitehighways/lang-memorize"></a>
	</div>							<!-- ******** HEAD BAR MENU ********** -->

	<section class="ss-style-multitriangles-d upper-part">
	<!-- <div class="upper">  -->
		<div class="just-add">just add</div>
		<div class="wwwords"> 
			<div class="about-button-section"> <a href="{% url 'index' %}"><span class="start-button"> start </span></a></div>
			<a href="{% url 'index' %}"><span class="very-big"><span class="www">www</span><span style="font-size: 26px" class="icon-cool"></span>rds</span> </a>
			<div class="start-button-section"> <a href="#conclusion"><span class="start-button"> about </span></a></div>
		</div>
	<!-- </div> -->
	
	<!-- <div class="central">  -->
		<div class="motto">be a polyglote</div>
		<!-- <div class="start-button-section"> <a href="{% url 'index' %}"><span class="start-button"> start </span></a></div> -->
	<!-- </div> -->
	</section>
	<div class="lower">
		<div class="summary-wrap">
			<div class="summary">
				<!-- <div class="section-title">Briefly about WWWords</div> -->
				<!-- Hi! I'm Alexandru, the author of WWWords.  --><p>WWWelcome! This app might be helpful to language learners as well as polyglottic enthusiasts, since it's first aim is to help storing and memorizing new words and expressions. Log in through one of your social network accounts and create your own vocabulary. Or don't log in and just join the common word database. You will be able to add/edit/delete words and fill in corresponding examples. Besides, once in a while you may test you knowledge. Basic settings for your vocabulary are also available. More details below.</p>
			</div>
		</div>

		<!-- <section class="ss-style-multitriangles-u"> -->
		<div class="first">
			
			<div class="description"> 
				<div class="section-title">Just add w... <span class="wwwords-title">wwwords</span></div>
				Excellent tool to store the newly learned words and expressions. Just come to 'Add new' section <a class="icon-pencil2 moon no-padding" href="{% url 'insert_form' %}"></a>, insert it into database and never lost it! Don't forget to specify the type of your word (e.g. noun, verb, etc.), although it's not necessary.
			</div>
			<div class="pic-r"><span class="li_data"></span></div>
		</div>
		<!-- </section> -->
		<div class="second">
			
			<div class="description-r"> 
				<div class="section-title">One <span class="wwwords-title">wwword</span> is never enough</div>
				Don't limit yourself just to original-translation combination. Apart from the type you can provide an infinite number of example expressions for each of your words. Click on the needed line in the word table and it'll expand. There you can also update or delete your words.
			</div>
			<div class="pic"><span class="icon-books"></span></div>
		</div>

		<div class="third">
			
			<div class="description"> 
				<div class="section-title">First logic, then <span class="wwwords-title">wwwords</span></div>
				Organize your vocabulary in a clever way. Logged in you've got a possibility to either include your own words, expressions and examples in the common database or hide it from the public. Specify it in settings <a class="icon-cogs no-padding moon" href="{% url 'settings' %}"></a>. In the same section you can choose the scope of your test (common vocabulary vs. own words).
			</div>
			<div class="pic-r"><span class="li_bulb"></span></div>
		</div>

		<div class="forth">
			
			<div class="description-r"> 
				<div class="section-title">Log in to <span class="wwwords-title">Wwwords</span></div>
				Tired of all this boring registrations, account confirmations and password remembering? Your browser can't hold already all the web passwords? Well, no such stuff here! Just log in using your social media credentials: 
				<a class="icon-facebook moon no-padding" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"></a> 
	  			<a class="icon-twitter no-padding moon" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"> </a> 
	  			<a class="icon-google moon no-padding" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"></a>. And be sure, it's safe. None of your personal data at any circumstances will be exposed to author or anybody else!
	  		</div>
	  		<div class="pic"><span aria-hidden="true" class="li_key"></span></div>
		</div>

		<div class="fifth">
			
			<div class="description"> 
				<div class="section-title"><span class="wwwords-title">Wwwords</span> testing</div>
				Stored a bunch of expressions and now you are struggling memorizing it? WWWords app is ready to help. Take a small test <a class="icon-list2 moon no-padding" href="{% url 'take_a_test' %}"></a> and check your knowledge. And don't forget about test settings <a class="icon-cogs no-padding moon" href="{% url 'settings' %}"></a>.<br />P.S. More test types to come later.
			</div>
			<div class="pic-r"><span class="li_study"></span></div>
		</div>

		
		<div class="sixth">
			<div class="description-r"> 
				<div class="section-title">Setting the <span class="wwwords-title">wwwords</span> up</div>
				Tired of same dull background? Or don't want to show words from own vocabulary in public storage? Wanna add to your testing scope common words? Or maybe want to style/animate somehow the test area? Drop in on already mentioned 'Settings' section! <a class="icon-cogs no-padding moon" href="{% url 'settings' %}"></a>
			</div>
			<div class="pic"><span class="li_params"></span></div>
		</div>
		<section class="ss-style-multitriangles-d section-short"></section>

		<div class="summary-wrap section-long" id="conclusion">
			<div class="summary">
				<div class="summary-heading"> A bit more this app</div>
				<p>Hi, I'm Alexandru, the author of WWWords. The idea of such a tool appeared when I first came to Finland in 2013 and threw myself into learning Finnish. I tried to memorize as much words as I could, so I wrote'em down every day in my exercise book, PC, phone, textbook, on some random papers... That was just wrong. Trying to centralize somehow the storing location I sketched the first, primitive version of this app using JS/PHP/MySQL.</p><br />

				<p>Time passed by and by the end of 2015 it was decided to rewrite this program from scratch using Django/PostgreSQL, since at that time I was in love with Python. (Well, I am now too.) Thus, this app became for me a natural aiming at two birds with one stone: I wanted to improve both Django and Finnish skills:)</p><br />

				<p>WWWords is not 100% ready yet, I keep working upon this website as a part of my self-studying process. But all the options and tools available here are fully functional. Note, that personal vocabularies and the whole database will stay untouched, since I make backups periodically. So, please feel free to use it! I hope you like it. If you have any suggestions or ideas, mail me or send me a message. Please, find all my contacts in footer sections.</p><br />
				
				<p>P.S. And never mind about some random words in the common vocabulary. These are the part of testing process. As for April'16 at least three persons - voluntary testers - stored their recently learned expressions there.</p>
			</div>
		</div>

		<section class="lowest ss-style-doublediagonal">
				<p>
					&#169; 2016. Alexandru Oat. | <a href="mailto:alexandru.oat@gmail.com?Subject=Hei%20Alex" target="_top">Mail me</a> | 
			<!-- <div class="icons-left-start"> -->
				
					<a href="https://github.com/midnitehighways/lang-memorize">GitHub</a> | 
					<a href="https://www.linkedin.com/in/alexandruoat">LinkedIn</a> | 
					<a href="https://www.facebook.com/oat.alexander">FB</a>

				</p>
				<!-- <br/> -->
			<!-- </div> -->
				<p class="credits">
					Powered by Django 1.8.6. Used free icons from <a href="https://icomoon.io/">icomoon.io</a> and <a href="http://designmodo.com/linecons-free/">linecons</a>
				</p>
		</section>
	</div>

	

		<form name="langForm" action="{% url 'setlang' %}" method="post">{% csrf_token %} 		<!-- HIDDEN FORM : SWITCH LANGS -->
			<input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" /><input type="hidden" id="selected-lang" name="language">
		</form>

</div> <!-- container -->
</body>
</html>
