{% extends 'sanat/base.html' %}
{% block test %}

<div class="content">
	<!-- <div class="text-content"> -->
    <div class="test-area">
		<script>
			var words = {{ words_list | safe }};	// array of words passed by means of json. Safe format, without 'u'-s
            window.onload = function() { prepare_test(words);};   // initial function must be executed on loading the page to prepare the first choices
        </script>
		<input style = "margin-top: 110px;" type = "button"; class = "button2"; id = "asked_word" /></br>

	    <section class="result">
	  		<div class="card" onclick="flip('card flipped')">
	    		<div class="yes">joo</div>
	    		<div class="no">ei</div>
	  		</div>
		</section>

        <ul id="choices" style="margin-left: 330px; margin-top: -170px">
	        <li type = "button" class = "nappi" id = "choice_1"></li></br></br>
	        <li type = "button" class = "nappi" id = "choice_2"></li></br></br>
	        <li type = "button" class = "nappi" id = "choice_3"></li></br></br>
	        <li type = "button" class = "nappi" id = "choice_4"></li></br>
        </ul>
    </div>
</div>
{% endblock test %}