{% extends 'sanat/base.html' %}
{% block test %}

<div class="content">
	<div class="text-content">
			
		<script>
				function koe(vastaus)
        		{
					// document.getElementById('yritys_en').style.display = "none";

					 // $("#yritys_en").show("600");
		             // $("#yritys_en").toggle("slide");
		             // $("#suomea").toggle("explode");//show("800");		    
		            $("#yritys_en").hide("500");
		            $("#suomea").hide("500");
		            document.getElementById('tulos').innerHTML = "joo";//"Vastasit oikein!";
               		document.getElementById('tulos').className = "joo";
               		var words_list = {{ words_list | safe }};
               		console.log(words_list);
               		document.getElementById('tulos').innerHTML = words_list[3].fields.en;
	        	}
        
        </script>
		{% for word in words_list %}
			{{ word.fi }}
		{% endfor %} 

		<input style = "margin-top: 110px;" type = "button"; class = "button2"; id = "yritys_en" /></br>
        <span id="tulos" style="bottom: -100px; position: relative; margin-left: 160px;"> </span>
        <div id="suomea" style="margin-left: 330px; margin-top: -170px">
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_1" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_2" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_3" /></br>
	        <input type = "button" class = "nappi" onclick="koe(this.value)" id = "yritys_4" /></br>
        </div>
    </div>
</div>
{% endblock test %}