{% extends 'sanat/base.html' %}
{% block test %}
			<form method='POST' >{% csrf_token %}
									{{ form.errors }}
									{{ form.non_field_errors }}
									

							 		<input type='text' name='fi' id='fu'>fu</input>

									<input type=submit />
				</form>
				
									{% if form.errors %}
									    {% for field in form %}
									        {% for error in field.errors %}
									            <div class="alert alert-error">
									                <strong>{{ error|escape }}</strong>
									            </div>
									        {% endfor %}
									    {% endfor %}
									    {% for error in form.non_field_errors %}
									        <div class="alert alert-error">
									            <strong>{{ error|escape }}</strong>
									        </div>
									    {% endfor %}
									{% endif %}

{% endblock test %}